---
- name: Repmgr | Update configuration (repmgr.conf)
  ansible.builtin.template:
    src: "repmgr.conf-{{ repmgr_version }}.j2"
    dest: "{{ postgresql_conf_directory }}/repmgr.conf"
    owner: "{{ postgresql_service_user }}"
    group: "{{ postgresql_service_group }}"
    mode: 0640
  notify: Reload repmgr

- name: Repmgr | Upload logrotate configuration
  ansible.builtin.template:
    src: repmgr_logroate.j2
    dest: /etc/logrotate.d/repmgr
    mode: 0640

- name: Repmgr | Create repmgr.conf symlink for shorter commands # see: https://repmgr.org/docs/5.0/configuration-file.html
  ansible.builtin.file:
    src: "{{ postgresql_conf_directory }}/repmgr.conf"
    dest: /etc/repmgr.conf
    state: link
    mode: 0640

- name: Repmgr | Ensure systemd drop-in directory exists
  ansible.builtin.file:
    path: "/etc/systemd/system/repmgr{{ postgresql_version }}.service.d/"
    state: directory
    mode: 0755

- name: Repmgr | Update drop-in
  ansible.builtin.template:
    src: "repmgr.custom.conf.j2"
    dest: "/etc/systemd/system/repmgr{{ postgresql_version }}.service.d/custom.conf"
    mode: 0640

- name: Repmgr | Allow passwordless restarts with postgres user
  ansible.builtin.template:
    src: "sudoers.postgresql.j2"
    dest: "/etc/sudoers.d/postgresql"
    mode: 0640

- name: Repmgr | Update .pgpass for postgres user
  ansible.builtin.template:
    src: "pgpass.j2"
    dest: "{{ repmgr_passfile }}"
    owner: "{{ postgresql_service_user }}"
    group: "{{ postgresql_service_group }}"
    mode: 0600
    trim_blocks: false

- name: Repmgr | Ensure ssh keys destination folder exists
  ansible.builtin.file:
    path: "{{ repmgr_base_key_path }}"
    state: directory
    owner: "{{ postgresql_service_user }}"
    group: "{{ postgresql_service_group }}"
    mode: 0700

- name: Repmgr | Generate an SSH keypair locally
  community.crypto.openssh_keypair:
    path: "{{ repmgr_base_key_path }}/postgres_id_rsa"
    backend: cryptography
    regenerate: partial_idempotence
    size: "{{ repmgr_ssh_key_bits }}"
    type: "{{ repmgr_ssh_key_type }}"
    force: "{{ repmgr_ssh_force_renewal }}"
    mode: 0644
  # delegate_to: 127.0.0.1
  become: true
  become_user: postgres

- name: Repmgr | Fetch pubkey content from remote host
  ansible.builtin.slurp:
    src: "{{ repmgr_base_key_path }}/postgres_id_rsa.pub"
  register: slurped_pubkey
  become: true
  become_user: postgres

  tags: ['skip_ansible_lint']

- name: Repmgr | Decode remote public key
  ansible.builtin.set_fact:
    pubkey_content: "{{ slurped_pubkey.content | b64decode }}"

- name: Repmgr | Update authorized_keys on all nodes
  ansible.posix.authorized_key:
    user: "{{ postgresql_service_user }}"
    key: "{{ pubkey_content }}"
    state: present

- name: Repmgr | Upload private key on all nodes
  ansible.builtin.copy:
    src: "{{ repmgr_base_key_path }}/postgres_id_rsa"
    dest: "{{ repmgr_private_key_path }}"
    owner: "{{ postgresql_service_user }}"
    group: "{{ postgresql_service_group }}"
    mode: 0600

- name: Repmgr | Setup SSH config for Barman
  ansible.builtin.template:
    src: repmgr_barman_ssh_config.j2
    dest: "{{ repmgr_base_key_path }}/config"
    owner: "{{ postgresql_service_user }}"
    group: "{{ postgresql_service_group }}"
    mode: 0600
  when: repmgr_barman_host and repmgr_barman_server

- name: Determine repmgr primary hostname
  ansible.builtin.set_fact:
    repmgr_primary_hostname: "{% for host, vars in hostvars.items() if 'repmgr_primary' in vars and vars['repmgr_primary'] %}{{ host|trim }}{% endfor %}"
  when: repmgr_primary_hostname is not defined

- name: Debug repmgr primary hostname
  ansible.builtin.debug:
    msg:
      "repmgr_primary_hostname": "{{ repmgr_primary_hostname == inventory_hostname }}"
      "inventory_hostname": "{{ inventory_hostname }}"

- name: Flush # we flush here because if restart happens after this the repmgr loses the followers
  ansible.builtin.meta: flush_handlers

# - name: Create SSH keypair and setup keys for barman user towards postgres
#   ansible.builtin.shell:
#     cmd: |
#       # touch /home/ubuntu/.ssh/known_hosts && chmod 660 /home/ubuntu/.ssh/known_hosts && cat /home/ubuntu/.ssh/known_hosts
#       # ssh-keyscan -H barman_host_replace >> /home/ubuntu/.ssh/known_hosts
#       sudo -u barman bash -c 'if ! [ -d ~/.ssh ]; then mkdir ~/.ssh; fi && chmod 700 ~/.ssh && touch ~/.ssh/authorized_keys && chmod 600 ~/.ssh/authorized_keys'
#       sudo -u barman bash -c 'ssh-keygen -b 4096 -t rsa -f /var/lib/barman/.ssh/id_rsa -N "" -C "barman@192.168.56.20" <<< y'
#     executable: /bin/bash
#     creates: $HOME/.ssh/id_ed25519
#   become: true
#   become_user: root
#   register: generate_barman_psql_keypair
#   changed_when: generate_barman_psql_keypair.rc != 0
#   when: "'psqlbarman' in group_names"

# - name: Fetch the public SSH key to put it in the PostgreSQL servers so barman can login
#   ansible.builtin.fetch:
#     src: /var/lib/barman/.ssh/id_rsa.pub
#     dest: ./barman_id_rsa.pub
#     flat: true
#   when: "'psqlbarman' in group_names"

- name: Set authorized key taken from file
  ansible.posix.authorized_key:
    user: postgres
    state: present
    key: "{{ lookup('file', './barman_id_rsa.pub') }}"
  become: true
  become_user: root
  when: "'psqlnodes' in group_names"

- name: Barman | check if next step should run
  ansible.builtin.shell:
    cmd: |
      sudo -u postgres bash -c 'ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null barman@192.168.56.20 barman check pgsql01 --nagios'
    executable: /bin/bash
  register: should_barman_xlog_run
  changed_when: should_barman_xlog_run.rc not in [0, 2, 255]
  failed_when: "should_barman_xlog_run.rc != 0 and should_barman_xlog_run.rc != 2 and should_barman_xlog_run.rc != 255"
  when: inventory_hostname == repmgr_primary_hostname

- name: Barman | setup SSH towards barman for repmgr with barman keys and create backup
  ansible.builtin.shell:
    cmd: |
      #cp /var/lib/postgresql/.ssh/id_rsa /var/lib/postgresql/.ssh/id_rsa_barman
      chown -R postgres:postgres /var/lib/postgresql/.ssh/
      sudo -u postgres bash -c 'eval "$(ssh-agent -s)" && ssh-add /var/lib/postgresql/.ssh/id_rsa_barman'
      sudo -u postgres bash -c 'ssh-keyscan -H 192.168.56.20 >> /var/lib/postgresql/.ssh/known_hosts'
      # make barman user able to SSH to postgres on primary host
      #scp barman@192.168.56.20:~/.ssh/id_rsa.pub /var/lib/postgresql/barman_id_rsa.pub
      #sudo -u postgres bash -c 'scp barman@192.168.56.20:~/.ssh/id_rsa.pub /var/lib/postgresql/id_rsa_barman.pub'
      sudo -u postgres bash -c 'cat /var/lib/postgresql/.ssh/id_rsa_barman.pub >> /var/lib/postgresql/.ssh/authorized_keys'
      sudo -u postgres bash -c 'ssh barman@192.168.56.20 barman cron'
      #sudo -u postgres bash -c 'ssh barman@192.168.56.20 barman switch-wal --force --archive pgsql01'
      sudo -u postgres bash -c 'ssh barman@192.168.56.20 barman switch-xlog --force --archive {{ repmgr_primary_hostname }}'
      sudo -u postgres bash -c 'ssh barman@192.168.56.20 barman backup {{ repmgr_primary_hostname }} --wait'
    executable: /bin/bash
  become: true
  become_user: root
  when: inventory_hostname == repmgr_primary_hostname and should_barman_xlog_run.rc not in [0, 2]

- name: Barman | setup known hosts and SSH keys to barman using postgres keys
  ansible.builtin.shell:
    cmd: |
      sudo -u postgres bash -c 'scp -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null 192.168.56.10:/var/lib/postgresql/.ssh/id_rsa_barman /var/lib/postgresql/.ssh/id_rsa_barman'
      sudo -u postgres bash -c 'ssh-keyscan -H 192.168.56.20 >> /var/lib/postgresql/.ssh/known_hosts'
      sudo -u postgres bash -c 'scp barman@192.168.56.20:~/.ssh/id_rsa.pub /var/lib/postgresql/.ssh/barman_id_rsa.pub'
      sudo -u postgres bash -c 'cat /var/lib/postgresql/.ssh/barman_id_rsa.pub >> /var/lib/postgresql/.ssh/authorized_keys'
    executable: /bin/bash
  become: true
  become_user: root # "{{ postgresql_service_user }}"
  #when: inventory_hostname != repmgr_primary_hostname

- name: Repmgr | Register as primary
  ansible.builtin.command: "repmgr primary register -F"
  become: true
  become_user: "{{ postgresql_service_user }}"
  when: inventory_hostname == repmgr_primary_hostname

- name: Repmgr | Ensure postgresql slave is stopped before clone
  ansible.builtin.shell:
    cmd: pg_ctlcluster {{ postgresql_version }} {{ postgresql_cluster_name }} stop
    executable: /bin/bash
  become: true
  become_user: "{{ postgresql_service_user }}"
  when: inventory_hostname != repmgr_primary_hostname

- name: Repmgr | Clone standby
  ansible.builtin.command: "repmgr -F -h {{ repmgr_primary_hostname }} -U repmgr -d repmgr standby clone"
  become: true
  become_user: "{{ postgresql_service_user }}"
  when: inventory_hostname != repmgr_primary_hostname

- name: Repmgr | Ensure postgresql slave is running after clone
  ansible.builtin.shell:
    cmd: pg_ctlcluster {{ postgresql_version }} {{ postgresql_cluster_name }} start
    executable: /bin/bash
  become: true
  become_user: "{{ postgresql_service_user }}"
  when: inventory_hostname != repmgr_primary_hostname

- name: Repmgr | Wait for Postgres
  ansible.builtin.wait_for:
    port: "{{ postgresql_port }}"
    timeout: 3

- name: Repmgr | Register standby
  ansible.builtin.command: "repmgr -F -h {{ repmgr_primary_hostname }} -U repmgr -d repmgr standby register"
  become: true
  become_user: "{{ postgresql_service_user }}"
  when: inventory_hostname != repmgr_primary_hostname

- name: Repmgr | Verify cluster functionality
  ansible.builtin.command: "repmgr -F -h {{ repmgr_primary_hostname }} -U repmgr -d repmgr cluster crosscheck"
  become: true
  become_user: "{{ postgresql_service_user }}"

- name: Repmgr | Ensure repmgrd is running
  ansible.builtin.command: "/usr/bin/repmgrd daemon start"
  when: repmgr_monitoring_history or repmgr_failover == 'automatic'
  become: true
  become_user: "{{ postgresql_service_user }}"

- name: Repmgr | Show repmgrd status
  ansible.builtin.command: "repmgr daemon status"
  register: repmgrd_status
  when: repmgr_monitoring_history or repmgr_failover == 'automatic'
  become: true
  become_user: "{{ postgresql_service_user }}"

- name: Debug repmgrd status
  ansible.builtin.debug:
    msg:
      "{{ repmgrd_status.stdout_lines }}"

- name: Barman | check if next step should run
  ansible.builtin.shell:
    cmd: |
      sudo -u postgres bash -c 'ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null barman@192.168.56.20 barman check pgsql01 --nagios'
    executable: /bin/bash
  register: should_barman_xlog_run
  changed_when: should_barman_xlog_run.rc not in [0, 2, 255]
  failed_when: "should_barman_xlog_run.rc != 0 and should_barman_xlog_run.rc != 2 and should_barman_xlog_run.rc != 255"
  when: inventory_hostname != repmgr_primary_hostname

- name: Barman | backup non-primary hosts so they are prepared at failover of primary
  ansible.builtin.shell:
    cmd: |
      # sudo -u postgres bash -c 'ssh barman@192.168.56.20 barman cron' # already started in previous step
      sudo -u postgres bash -c "ssh barman@192.168.56.20 barman switch-xlog --force --archive {{ inventory_hostname }}" || echo "Fails if standby"
      sudo -u postgres bash -c "ssh barman@192.168.56.20 barman backup {{ inventory_hostname }} --wait" || echo "Fails if empty"
    executable: /bin/bash
  become: true
  become_user: root # "{{ postgresql_service_user }}"
  when: inventory_hostname != repmgr_primary_hostname and should_barman_xlog_run.rc not in [0, 2]

- name: Repmgr | Setup cluster monitoring history cleanup with cron task
  ansible.builtin.cron:
    name: Purges repmgr.monitoring_history table
    job: "repmgr cluster cleanup --keep-history={{ repmgr_keep_history_days }}"
    special_time: daily
  when: repmgr_monitoring_history and repmgr_failover == 'automatic'
