---
- name: PostgreSQL | Update the user privileges
  community.postgresql.postgresql_user:
    name: "{{ item.name }}"
    port: "{{ postgresql_port }}"
    state: present
    login_host: "{{ item.host | default(omit) }}"
    login_user: "{{ postgresql_admin_user }}"
    role_attr_flags: "{{ item.role_attr_flags | default(omit) }}"
  become: true
  become_user: "{{ postgresql_admin_user }}"
  with_items: "{{ postgresql_user_privileges }}"
  when: postgresql_users|length > 0 and repmgr_primary

- name: PostgreSQL | Grant user privileges
  community.postgresql.postgresql_privs:
    database: "{{ item.db }}"
    roles: "{{ item.name }}"
    type: database
    privs: "{{ item.priv }}"
    state: present
    login_user: "{{ postgresql_admin_user }}"
  become: true
  become_user: "{{ postgresql_admin_user }}"
  loop: "{{ postgresql_user_privileges }}"
  when:
    - item.priv is defined
    - item.db is defined
    - postgresql_users | length > 0
    - repmgr_primary
